#
# Options enabled to be tested for ci
#
CONFIG_DIAG_MORE_NETWORK_VARS=y
CONFIG_ESP_INSIGHTS_TRANSPORT_MQTT=y
CONFIG_ESP_INSIGHTS_META_VERSION_10=y
CONFIG_ESP_INSIGHTS_DEBUG_ENABLED=y
CONFIG_DIAG_DATA_STORE_DBG_PRINTS=y
